
.card{
    display: inline-block;
    width: 20%;
    margin: 15px;
    height: 150px;
    text-align: center;
}
h2{
    text-align: center;
    color: white;
    background-color: grey;
    border-radius: 10px;
    height: 90px;
    line-height: 90px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.navbar-brand{
    font-size: 40px !important;
    color:#ffcc00 !important;
}
span{
    font-weight: bold;
    margin-right: 5px;
}
.more-info{
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
}
.btn-logout{
   
    margin-right: 20px;
}
.settings-buttons{
    margin-top: 40px;
    text-align: center;
}
.settings-title{
    margin-bottom: 40px;
}
.settings-email{
    font-size: 20px;
}
